@model CommonDate.Models.Class1[]

@{
    ViewBag.Title = "eventResults";
}

<h2>eventResults</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model[0].eventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model[0].location)
        </th>
        <th></th>
    </tr>

@for (int i = 0; i < Model.Length; i++)
{
    <table>
    <tr>
        <td>
            @Html.DisplayFor(model => Model[0].eventName)
        </td>
        <td>
            @Html.DisplayFor(model => Model[0].location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
</table>
}