@model CommonDate.Models.User

@{
    ViewBag.Title = "GeoLocation";
}

<h2>Match Location</h2>

<div>
    <style>

        #map {
            height: 400px;
            width: 400px;
            margin: 20px;
        }

        html, body {
            height: 100%;
            margin: 20px;
            padding: 10px;
        }
    </style>
    <div id="map"></div>
    <script>
        var map;
      function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
              center: { lat: @Model.lat , lng: @Model.lng },
              zoom: 8

          });
      var marker = new google.maps.Marker({
        position: {
            lat: @Model.lat,
            lng: @Model.lng
        },
        map: map

    });

        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?@APIKeys.googleApi&callback=initMap" ,
            async defer></script>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenderPreference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderPreference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
